@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: #1a1a1a;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --hz-ui-fg-0: #000;
    --hz-ui-primary-fg: hsl(0 0% 100%);
    --hz-ui-fg-5: hsl(0deg 3.88% 59.61%);

  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --muted-1: 0 0% 70%;
    --muted-1-foreground: 0 0% 70%;
    --accent: #fff;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --hz-ui-bg-1:#1f1f1f;
    --hz-ui-primary-fg: hsl(0deg 0% 0%);
    --hz-ui-fg-5: hsl(0 0% 25%);
    
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'DrukWide';
  font-weight: 700;
  src: url(./fonts/Druk-Wide-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'DrukWide';
  font-weight: 500;
  src: url(./fonts/Druk-Wide-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'inter';
  src: url(./fonts/InterVariable.ttf) format('truetype');
}
@font-face {
  font-family: 'inter';
  font-style: italic;
  src: url(./fonts/InterVariable-Italic.ttf) format('truetype');
}
div.nextjs-toast-errors-parent[data-nextjs-toast="true"] {
  display: none;
}

.font-heading {
  @apply uppercase;
}

/* Specific style fixes for react-square-web-payments-sdk -
 * reduce gap between card input and pay button
 */
#rswps-card-container {
  min-height: unset !important;
}

.sq-card-wrapper .sq-card-message {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


.element-container:hover .icon-container-nor {
  display: none;
}

.icon-container-hov {
  display: none;
}

.element-container:hover .icon-container-hov {
  display: block !important;
}
.overflow-scroll::-webkit-scrollbar{
  display:none;
}

.text-primary-fg {
  color: var(--hz-ui-primary-fg);
}
.border-muted-4 {
  border-color: var(--hz-ui-fg-5);
}


.messages-container {
  max-height: 100vh; /* Adjust based on your layout */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}